<div class="loading-mask" ng-hide="pageLoaded"><div class="loading-mask-text">LOADING...</div></div>

<div class="main-container container text-center">
  <h1>Dispatch</h1>
  <button class="main-button btn btn-primary" type="button" data-toggle="modal" data-target="#main-modal">Log In</button>
</div>

<div class="modal fade text-center" id="main-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Log In</h2>
        <div class="alert alert-danger" ng-show="loginError">Incorrect username and/or password.</div>
        <form ng-submit="submit()">
          <fieldset>
            <div class="form-group">
              <label for="main-username">Username</label>
              <input class="form-control" id="main-username" type="text" placeholder="Username" ng-model="username" required/>
            </div>
            <div class="form-group">
              <label for="main-password">Password</label>
              <input class="form-control" id="main-password" type="password" placeholder="Password" ng-model="password" required/>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- demo features -->
<div class="demo-button">
  <button class="btn btn-warning" data-toggle="modal" data-target="#demo-modal">?</button>
</div>

<div class="modal fade" id="demo-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>Test users info</div>
        <div>&nbsp;</div>
        <div>Role: Technician</div>
        <div>Username: johndoe</div>
        <div>Password: password</div>
        <div>&nbsp;</div>
        <div>Role: Manager</div>
        <div>Username: bobjones</div>
        <div>Password: password</div>
      </div>
    </div>
  </div>
</div>
