<div class="container">
  <button class="logout-button btn btn-default" ng-click="logout();">Log Out</button>
  <h1>Manager Page</h1>
  <div>Logged in as <strong>{{user.name}}</strong></div>
  <h2>Tasks</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Create New Task</strong>
    </div>
    <div>
      <div class="panel-body">
        <form>
          <h3>Customer Details</h3>
          <div class="form-group">
            <label for="new-task-name">Name:</label>
            <input class="form-control" id="new-task-name" type="text" placeholder="John Doe" />
          </div>
          <div class="form-group">
            <label for="new-task-phone">Phone:</label>
            <input class="form-control" id="new-task-phone" type="text" placeholder="(123) 456-7890" />
          </div>
          <div class="form-group">
            <label for="new-task-address">Address:</label>
            <input class="form-control" id="new-task-address" type="text" placeholder="123 Some Street" />
          </div>
          <h3>Task Details</h3>
          <div class="form-group">
            <label for="new-task-scheduled-date">Schedule Date:</label>
            <input class="form-control" id="new-task-schedule-date" type="date" />
          </div>
          <div class="form-group">
            <label for="new-task-scheduled-time">Schedule Time:</label>
            <input class="form-control" id="new-task-schedule-time" type="time" />
          </div>
          <div class="form-group">
            <label for="new-task-description">Description:</label>
            <textarea class="form-control" id="new-task-description" placeholder="Task description" style="resize:vertical" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Existing Tasks</strong>
    </div>
  </div>
  
  <h2>Technicians</h2>
</div>
