<div class="container">
  <button class="logout-button btn btn-default" ng-click="logout();">Log Out</button>
  <h1>Manager Page</h1>
  <div>Logged in as <strong>{{user.name}}</strong></div>
  <h2>Jobs</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Create New Job</strong>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#existing-jobs-panel-body">
      <strong>Existing Jobs</strong>
    </div>
    <div class="collapse" id="existing-jobs-panel-body">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            Search jobs by:
          </div>
          <div class="panel-body">
            <button class="btn btn-default" type="buttton">Job ID</button>
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" type="submit">Apply</button>
            <button class="btn btn-default" type="button">Cancel</button>
          </div>
        </div>
        
        <table class="table table-striped table-bordered">
          <tr ng-repeat="job in jobs" data-toggle="modal" data-target="#job-details-modal" ng-click="jobDetailsFill(job.jobId)">
            <td>
              <div><strong>Job ID:</strong> {{job.jobId}}</div>
              <div><strong>Customer Name:</strong> {{job.customer.name}}</div>
              <div><strong>Technician ID:</strong> {{job.technicianId}}</div>
              <div><strong>Scheduled Date:</strong> {{job.scheduledDate}}</div>
              <div><strong>Status:</strong> {{job.status}}</div>
              <div><strong>Description:</strong> {{job.description}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <h2>Technicians</h2>
  
</div>

<div class="modal fade" id="job-details-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Job Details</h2>
        <div><strong>Job ID:</strong> {{jobDetailsJob.jobId}}</div>
        <div><strong>Customer Name:</strong> {{jobDetailsJob.customer.name}}</div>
        <div><strong>Customer Phone:</strong> {{jobDetailsJob.customer.phone}}</div>
        <div><strong>Customer Address:</strong> {{jobDetailsJob.customer.address}}</div>
        <div><strong>Technician ID:</strong> {{jobDetailsJob.technicianId}}</div>
        <div><strong>Scheduled Date:</strong> {{jobDetailsJob.scheduledDate}}</div>
        <div><strong>Status:</strong> {{jobDetailsJob.status}}</div>
        <div><strong>Description:</strong> {{jobDetailsJob.description}}</div>
        <div>
          <strong>Sessions:</strong>
          <table class="table table-striped table-bordered">
            <tr ng-repeat="session in jobDetailsJob.sessions">
              <td>
                <div><strong>Start:</strong> {{session.startTime}}</div>
                <div><strong>End:</strong> {{session.endTime}}</div>
                <div>
                  <strong>Notes:</strong>
                  <div ng-repeat="note in session.notes"><strong>{{note.time}} (User {{note.userId}}) -</strong> {{note.note}}</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
