<div class="loading-mask" ng-hide="pageLoaded"><div class="loading-mask-text">LOADING...</div></div>

<div class="container">
  <button class="logout-button btn btn-danger" type="button" data-toggle="modal" data-target="#logout-modal">Log Out</button>
  <button class="page-refresh-button btn btn-info" type="button" ng-click="refresh()">Refresh</button>
  <h1>Technician View</h1>
  <div>Logged in as <strong>{{user.name}} (ID {{user.userId}})</strong></div>
  <section>
    <h2 data-toggle="collapse" data-target="#task-section-collapse" ng-click="taskSectionOpen=!taskSectionOpen">
      Tasks
      <div class="glyphicon glyphicon-chevron-down" style="vertical-align:bottom" ng-hide="taskSectionOpen"></div>
    </h2>
    <div class="collapse" id="task-section-collapse">
      <!-- task filter panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Filter tasks by:</strong>
        </div>
        <form ng-submit="getTasks()">
          <div class="panel-body">
            <button class="task-filter-button btn btn-default" type="button" data-id="taskId" ng-click="taskFilterButtonOpen('taskId',$event)">
              <strong>Task ID</strong>
              <span class="task-filter-button-close" ng-click="taskFilterButtonClose('taskId',$event)"><div class="glyphicon glyphicon-remove"></div></span>
              <input class="form-control task-filter-button-input" type="text" placeholder="Task ID" ng-model="taskFilter.taskId" />
            </button>
            <button class="task-filter-button btn btn-default" type="button" data-id="status" ng-click="taskFilterButtonOpen('status',$event)">
              <strong>Status</strong>
              <span class="task-filter-button-close" ng-click="taskFilterButtonClose('status',$event)"><div class="glyphicon glyphicon-remove"></div></span>
              <select class="form-control task-filter-button-input" ng-model="taskFilter.status" ng-options="taskStatusDict.indexOf(value) as value for value in taskStatusDict">
                <option value="">-Status-</option>
              </select>
            </button>
            <button class="task-filter-button btn btn-default" type="button" data-id="scheduledDate" ng-click="taskFilterButtonOpen('scheduledDate',$event)">
              <strong>ScheduledDate</strong>
              <span class="task-filter-button-close" ng-click="taskFilterButtonClose('scheduledDate',$event)"><div class="glyphicon glyphicon-remove"></div></span>
              <input class="form-control task-filter-button-input" type="date" ng-model="taskFilter.scheduledDate" />
            </button>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-primary" type="submit">Apply</button>
            <button class="btn btn-danger" type="button" ng-click="taskFilterClear()">Clear</button>
          </div>
        </form>
      </div>
      
      <!-- task table -->
      <table class="task-table table table-bordered table-striped">
        <tbody ng-show="tasksLoaded">
          <tr ng-repeat="task in tasks | orderBy:'-taskId'" ng-class="{info: task.status==2||task.status==3,success:task.status==4||task.status==5,danger:(task.status==0||task.status==1)&&task.scheduledDate<time}">
            <td>
              <h4><strong>Task ID: {{task.taskId}}</strong></h4>
              <div class="task-table-field"><strong>Status:</strong> {{taskStatusDict[task.status]}}</div>
              <div class="task-table-field"><strong>Scheduled Date:</strong> {{task.scheduledDate | date:'[MM/dd/yyyy] h:mma'}}</div>
              <div class="task-table-field"><strong>Customer Name:</strong> {{task.customer.name}}</div>
              <div class="task-table-field"><strong>Description:</strong> {{task.description}}</div>
              <div class="text-right"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#task-details-modal" ng-click="fillTaskDetails(task.taskId)">Task Details</button></div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-hide="tasksLoaded">
            <td class="text-center" colspan="4">LOADING TASKS...</td>
          </tr>
          <tr ng-hide="tasks">
            <td class="text-center" colspan="4">There are currently no such tasks.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  <section>
    <h2>Statistics (Coming)</h2>
  </section>
</div>

<!-- task details modal -->
<div class="modal fade" id="task-details-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Details for Task {{taskDetails.taskId}}</strong>
        <button class="task-details-refresh-button btn btn-default" type="button" ng-click="fillTaskDetails(taskDetails.taskId)">Refresh</button>
      </div>
      <div class="modal-body">
        <strong>Status</strong>
        <div class="task-details-modal-field">{{taskStatusDict[taskDetails.status]}}</div>
        <strong>Scheduled Date</strong>
        <div class="task-details-modal-field">{{taskDetails.scheduledDate | date:'[MM/dd/yyyy] h:mma'}}</strong></div>
        <strong>Customer Name</strong>
        <div class="task-details-modal-field">{{taskDetails.customer.name}}</div>
        <strong>Customer Phone</strong>
        <div class="task-details-modal-field">{{taskDetails.customer.phone}}</div>
        <strong>Customer Address</strong>
        <div class="task-details-modal-field">{{taskDetails.customer.address}}</div>
        <strong>Description</strong>
        <div class="task-details-modal-field">{{taskDetails.description}}</div>
        <strong>Sessions</strong>
        <table class="table table-bordered table-striped">
          <tr ng-repeat="session in taskDetails.sessions | orderBy:'startTime'">
            <td>
              <div><strong>Start Time:</strong> {{session.startTime | date:'[MM/dd/yyyy] h:mma'}}</div>
              <div><strong>End Time:</strong> <span ng-show="session.endTime>0">{{session.endTime | date:'[MM/dd/yyyy] h:mma'}}</span><span ng-show="session.endTime==-1">In Progress</span></div>
              <div><strong>Technician ID:</strong> {{session.techId}} ({{getTechById(session.techId).name}})</div>
            </td>
          </tr>
          <tr ng-hide="taskDetails.sessions">
            <td>There are no sessions on record.</td>
          </tr>
        </table>
        <strong>Notes</strong>
        <table class="table table-bordered table-striped">
          <tr ng-repeat="note in taskDetails.notes | orderBy:'time'">
            <td>
              <div>{{note.content}}</div>
              <div><strong>Added by {{note.author}}</strong></div>
              <div><strong>At {{note.time | date:'[MM/dd] h:mma'}}</strong></div>
            </td>
          </tr>
          <tr ng-hide="taskDetails.notes">
            <td>There are no notes on record.</td>
          </tr>
        </table>
        <form ng-submit="addNoteSubmit();addNoteShow=false;addNoteContent=null">
          <textarea class="form-control"id="new-note" placeholder="Write your note here" ng-model="addNoteContent" ng-show="addNoteShow" style="resize:vertical;margin-bottom:0.5em" required></textarea>
          <pre id="new-note-mirror">{{addNoteContent}}<div>&nbsp;</div></pre>
          <div class="text-right">
            <button class="btn btn-primary" type="button" ng-hide="addNoteShow" ng-click="addNoteShow=true">Add New Note</button>
            <button class="btn btn-primary" type="submit" ng-show="addNoteShow">Submit Note</button>
            <button class="btn btn-default" type="button" ng-show="addNoteShow" ng-click="addNoteShow=false;addNoteContent=null">Cancel</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="taskDetails.status==0||taskDetails.status==2" ng-click="startSession()">Start Session</button>
        <button class="btn btn-primary" type="button" ng-show="taskDetails.status==1" ng-click="endSession()">End Session</button>
        <button class="btn btn-success" type="button" ng-show="taskDetails.status==2" ng-click="taskComplete()">Task Complete</button>
        <button class="btn btn-warning" type="button" ng-show="taskDetails.status==3" ng-click="taskReopen()">Reopen Task</button>
        <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="getTasks()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- log out confirmation modal -->
<div class="modal fade" id="logout-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div><h2>Log out?</h2><div>
        <div>
          <button class="btn btn-danger" type="type" ng-click="logout()">Log Out</button>
          <button class="btn btn-default" type="type" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
